
.content {
    padding: 150px 0 0 0;
}

.content-img {
    max-width: 100vw;
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    overflow-x: hidden;
}

.welcome-section {
    background-color: #1B3589;
    color: white;
    padding: 10px 0;
}


.parte-superior a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

/* Main */
main {
    padding: 20px;
}

h1 {
    color: #1B3589;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 20px;
}

 


.card {
    width: calc(50% - 10px); /* Ancho dos veces mayor */
    max-width: 300px; /* Ancho máximo dos veces mayor */
    height: auto; /* Altura automática para mantener la proporción */
    padding: 10px; /* Ajusta el relleno según sea necesario */
    margin: 20px;
    margin-bottom: 10px;
    border-radius: 5px; 
    border: 2px solid #1B3589; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    position: relative;
    box-sizing: border-box;
}

.outside-container {
    background-color: #F8F8F8; /* Color de fondo */
    border: 2px solid #1B3589; /* Borde sólido */
    border-radius: 5px; /* Borde redondeado */
    padding: 10px; /* Espaciado interno */
    margin-top: 10px; /* Margen superior */
}

.outside {
    color: #1B3589; /* Color del texto */
    font-size: 16px; /* Tamaño del texto */
    position: absolute;
    bottom: -120px; /* Ajusta esta propiedad para controlar la distancia desde el borde inferior de la tarjeta */
    left: 10%;
    transform: translateX(-10%);
    color: #1B3589;
}



.card img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire container, maintaining aspect ratio */
    border-radius: 5px; /* Optional: add some border radius to the image */
}

.card:before {
    content: attr(data-content);
    position: absolute;
    top: -20px;
    left: -2px;
    width: 100%;
    height: 20px;
    background-color: #f8f8f8; /* Match card background */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 2px solid #1B3589; /* Border color */
}
.card[data-content="Borrego Tower"]:before {
    background-color: #F8F8F8; /* Example styling for Game 1 background color */
    color: #1B3589; /* Example styling for Game 1 text color */
    font-weight: bold;
    text-align: center;

}

.card h2 {
    color: #1B3589;
}

.card p {
    color: #1B3589;
}
.game-title {
    font-size: 16px; /* Adjust the font size as needed */
    overflow: hidden; /* Hide any text overflow */
    white-space: nowrap; /* Prevent text from wrapping */
    text-overflow: ellipsis; /* Display ellipsis (...) for overflowed text */
}
.description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #1B3589;
    color: white;
    text-align: center;
    padding: 5px 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
/* Footer */
.footer {
    background-color: #1B3589;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}


/* Estilos para la barra de navegación */
.navbar {
    background-color: #1B3589;
    padding: 2px 0;
}


.navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-list li {
    display: inline;
    margin-right: 20px;
}

.navbar-list li.back-button {
    float: right;
    margin-top: -40px;
}

.navbar-list li a {
    color: white;
    text-decoration: none;
}

.navbar-list li a:hover {
    color: #ffcc00;
}

/* Estilos para el botón "Back" */
.back-button a {
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 5px;
    
}

.back-button a:hover {
    background-color: white;
    color: #1B3589;
    padding: 10px 20px;

}
