.content {
    padding: 150px 0 0 0;
}

.content-img {
    max-width: 100vw;
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    overflow-x: hidden;
}



.parte-superior a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

/* Main */
main {
    padding: 20px;
}

h1 {
    color: #1B3589;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.card {
    width: calc(50% - 10px); /* Ancho dos veces mayor */
    max-width: 300px; /* Ancho máximo dos veces mayor */
    height: auto; /* Altura automática para mantener la proporción */
    padding: 10px; /* Ajusta el relleno según sea necesario */
    margin: 20px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    border-radius: 15px;
}

.card:hover {
transform: scale(1.04); /* Aumenta el tamaño ligeramente al pasar el cursor */

}

.outside-container {
    background-color: #F8F8F8; /* Color de fondo */
    border-radius: 5px; /* Borde redondeado */
    padding: 10px; /* Espaciado interno */
    margin-top: 10px; /* Margen superior */
}

.outside {
    color: #1B3589; /* Color del texto */
    font-size: 16px; /* Tamaño del texto */
    position: absolute;
    bottom: -120px; /* Ajusta esta propiedad para controlar la distancia desde el borde inferior de la tarjeta */
    left: 10%;
    transform: translateX(-10%);
    color: #1B3589;
}
.textbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.textbox p {
    margin-top: 10px;
    font-size: 18px;
    color: #555;
}

.button-sorteos-tec {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-color: #1B3589;
    border: 2px solid #1B3589;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    margin-bottom: 10px;
}

.button-sorteos-tec:hover {
    background-color: #fff;
    color: #1B3589;
}


table {
    border-collapse: collapse;
    width: 100%;
    max-width: 300px; /* Ajusta el ancho máximo de la tabla según sea necesario */
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #1B3589;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Ensures the image covers the entire container, maintaining aspect ratio */
    border-radius: 5px; /* Optional: add some border radius to the image */
}

.card h2 {
    color: #1B3589;
}

.card p {
    color: #1B3589;
}
.game-title {
    font-size: 16px; /* Adjust the font size as needed */
    overflow: hidden; /* Hide any text overflow */
    white-space: nowrap; /* Prevent text from wrapping */
    text-overflow: ellipsis; /* Display ellipsis (...) for overflowed text */
}
.description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #1B3589;
    color: white;
    text-align: center;
    padding: 5px 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
/* Footer */
.footer {
    background-color: #1B3589;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}


/* Estilos para la barra de navegación */
.navbar {
    background-color: #1B3589;
    padding: 2px 0;
}


.navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-list li {
    display: inline;
    margin-right: 20px;
}

.navbar-list li.back-button {
    float: right;
    margin-top: -40px;
}

.navbar-list li a {
    color: white;
    text-decoration: none;
}

.navbar-list li a:hover {
    color: #ffcc00;
}

/* Estilos para el botón "Back" */
.back-button a {
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 5px;
    
}

.back-button a:hover {
    background-color: white;
    color: #1B3589;
    padding: 10px 20px;

}